body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #0a192f;
    color: white;
    margin: 0 auto

}

/*Logo en-tête*/

.header img{
    width: 150px;
}
.header{
     display: flex;
    align-items: center;


    /*box-shadow: 0px 5px 10px 0px #aaa;*/
    position: fixed;
    width: 100%;
  
    color: #000;
    opacity: 0.60;
    z-index: 100;

}
.top-page{
height: 80vh;

}
.nav{
    display: flex;
    list-style: none;
   justify-content: space-between; 
    margin-left: 30em;
    width: 600px;
   
    font-size: 1rem;
  
}

.nav a{
    padding-right: 0.1em;
}

.nav a:hover{
        color: #40a496;
        transition-duration: 0.5s;
    }


.nav li{
    color: white; 
    margin:0 10px;
}



.boom p {
    margin-bottom: 20em;
    text-transform: uppercase;
   width: 20vh;
  margin-bottom: 70em;
   font-family:'Courier New', Courier, monospace;
}

.sayhi p {
    margin-bottom: 20em;
}

.mention-page{
    
    background-color: white;
     color: black;
     text-align: center;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
     margin: 0px;
     /* box-shadow: 2px -3px 4px grey; */

}
.mention-legale{
    margin-top: 6.3rem;
 padding: 0px;

 
}


/*SIDEBAR SOCIAL MEDIA*/
.navsidebar{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-transform: capitalize;

}
li a, i{
    text-decoration: none;
    font-size: 1.2rem;

}

.navsidebar{
    position: fixed;
    width: 70px;
    margin-top: 250px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.5);
   border-radius: 30px;;
}
.navsidebar li{
    height: 55px;
    position: relative;
}
.navsidebar li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    padding-left: 25%;
    border-bottom: 1px solid #3d3d3d;
    border-radius: 30px;

    transition: all 0.5s linear;

}

.navsidebar li a i{
    position: absolute;
    top:17px;
    left: 30px;
}
span{
    display: none;
}

a:hover{
    width: 200px;
    z-index: 1;
    border-radius: 30px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.5);
}

li:nth-child(1):hover a{
    background-color: #40a496;;
}
li:nth-child(2):hover a{
    background-color: #40a496;;
}
li:nth-child(3):hover a{
    background-color: #40a496;;
}
li:nth-child(4):hover a{
    background-color: #40a496;;
}





ul li a:hover{
    display: block;
    padding-left: 40%;

}


/*
.logo{
   
  display: flex;
  justify-content: center;
  padding-right: -1rem;
  

   

}

.link{
    display: flex;

     

        
}
.link a{

  justify-content: center;
      padding: 5rem 0.8rem 0.5rem 0.8rem;
  padding-top: 1rem;  

}


.link a:hover{
    box-shadow: 0px 0px 10px white; 
    border-radius: 30%;
   
}



.logo-link{
    text-decoration: none;



  
}
.logo-twitter{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 30%; */
    /*padding: 5px;
    transition:  0.5s ease;
    padding: 0px;
}


.logo-github{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 20%; */
   /* padding: 5px;
    transition:  0.5s ease;
}

.logo-mail{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 20%; */
   /* padding: 5px;
    transition:  0.5s ease;
}

.logo-linkedin{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 20%; */
    /*padding: 5px;
   
    
    transition:  0.5s ease;
}
*/
























/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px)

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)



/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait)



