body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #0a192f;
    color: white;
    margin: 0 auto

}

.header img{
    width: 150px;
}
.header{
     display: flex;
    align-items: center;
}
.top-page{
height: 80vh;

}
.nav{
    display: flex;
    list-style: none;
   justify-content: space-between; 
    margin-left: 30em;
    width: 600px;
  

}
.a{

}
li{
 
}
.nav li{
    color: white; 
    margin:0 10px;
}
span{
    color:#40a496;

}




    


.menu a:hover{
    background-color: #f9c041;
    transition-duration: 0.5s;
}


.separation-left {
    
    border-top: 3px  white;
    color: #333;
  size: 50%;
    text-align: center;
    height: 1px;
    width: 30%;
    
    text-align: left;
    margin-left: 0px;
    position: relative;
    margin: 7rem 0rem;
    margin-bottom: 0px;

}
.separation-right{
    border-top: 3px  white;
    color: #333;
  size: 50%;
    
    height: 1px;
    width: 30%;

    text-align:right;
   
    position: relative;
    margin: 8rem 65rem;
    margin-top: 0px;

  }  




.sepy{
    justify-content: center;
    text-align: center;
    margin-left: 45rem;
}



.title{
    text-align: center;
    margin: 1.5rem 1rem 1.5rem 1rem;
}



.mention-page{
    
    background-color: white;
     color: black;
     text-align: center;
     padding: 0.5rem 0.5rem 0.5rem 0.5rem;
     margin: 0px;
     /* box-shadow: 2px -3px 4px grey; */

}
.mention-legale{
    margin-top: 6.3rem;
 padding: 0px;

 
}

.logo{
   
  display: flex;
  justify-content: center;
  padding-right: -1rem;

   

}

.link{
    display: flex;

     

        
}
.link a{

  justify-content: center;
      padding: 5rem 0.8rem 0.5rem 0.8rem;
  padding-top: 1rem;  

}


.link a:hover{
    box-shadow: 0px 0px 10px white; 
    border-radius: 30%;
   
}



.logo-link{
    text-decoration: none;



  
}
.logo-twitter{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 30%; */
    padding: 5px;
    transition:  0.5s ease;
    padding: 0px;
}


.logo-github{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 20%; */
    padding: 5px;
    transition:  0.5s ease;
}

.logo-mail{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 20%; */
    padding: 5px;
    transition:  0.5s ease;
}

.logo-linkedin{
    width: 25px;
    height: 25px;
    /* box-shadow: 0px 0px 10px white; */
    /* border-radius: 20%; */
    padding: 5px;
   
    
    transition:  0.5s ease;
}


